<% if user_signed_in? %>
<div class="upperdiv login">
    WELCOME <%= current_user.name.upcase %>  <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
</div>
  <% else %>
<div class="upperdiv nologin">
    <a onclick="showUserForm()">LOGIN / SIGNUP</a>
</div>
  <% end %>

<%= render 'shared/alerts' %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div id="userForm" class="userForm" style="display:none;">
    <label for="login" class="inp">
    <%= f.text_field :email,
                id: 'login',
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
     <span class="label">Email</span>
      <span class="border"></span>
    </label>
    <label for="password" class="inp">
    <%= f.password_field :password,
                required: false,
                id: 'password',
                input_html: { autocomplete: "current-password" } %>
                  <span class="label">Password</span>
      <span class="border"></span>
    </label>
    <input type="submit" hidden>

  </div>

<% end %>

</div>

<!--
<div id="userForm" class="userForm"  style="display:none;">

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<label for="login" class="inp">
  <input name="email" type="text" id="login" placeholder="&nbsp;">
  <span class="label">Email</span>
  <span class="border"></span>
</label>

<label for="password" class="inp">
  <input name="password" type="password" id="password" placeholder="&nbsp;">
  <span class="label">Password</span>
  <span class="border"></span>
</label>

<input type="submit" hidden>



<% end %>
-->