<% if user_signed_in? %>
  <div class="upperdiv login">
   <div>
    WELCOME
    <a href="/dashboard"><%= current_user.name.upcase %></a>
    </div>
    <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <div class="upperdiv login">
    <a href="/users/sign_up">BECOME A MEMBER</a>
    <div class=searchSmall>
      <i class="fas fa-search"></i> <input placeholder="e.g. Impact Hub, illustration, modern, Tokyo..." type="text" />
    </div>
    <a onclick="showUserForm()">ACCESS YOUR ACCOUNT</a>
  </div>
<% end %>

<%= render 'shared/alerts' %>

<div id="userForm" class="userForm" style="display:none;">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <label for="email" class="inp">
    <%= f.text_field :email,
                id: 'email',
                required: true,
                input_html: { autocomplete: "email" } %>
    <span class="label">Email</span>
    <span class="border"></span>
  </label>
  <label for="password" class="inp">
    <%= f.password_field :password,
                required: true,
                id: 'password',
                input_html: { autocomplete: "current-password" } %>
    <span class="label">Password</span>
    <span class="border"></span>
  </label>
  <input type="submit" hidden>
<% end %>
</div>
</div>
<!--
<div id="userForm" class="userForm"  style="display:none;">

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<label for="login" class="inp">
  <input name="email" type="text" id="login" placeholder="&nbsp;">
  <span class="label">Email</span>
  <span class="border"></span>
</label>

<label for="password" class="inp">
  <input name="password" type="password" id="password" placeholder="&nbsp;">
  <span class="label">Password</span>
  <span class="border"></span>
</label>

<input type="submit" hidden>



<% end %>
-->
