<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous">
</script>

  <div class='wrapperTitle'>
      SEARCH RESULT
  </div>

<div class='cardsWrapper'>

  <div class='cards'>

    <% @venues.each do |venue| %>
      <%= link_to venue_path(venue) do %>
        <div class="blog-card spring-fever" style="background-image: url(<%= venue.photo %>)">
          <div class="title-content">
            <h3><%= venue.name.capitalize %></h3>
            <hr />
            <div class="intro"><%= venue.address %></div>
          </div><!-- /.title-content -->
          <div class="card-info"><%= venue.description.truncate_words(30) %></div><!-- /.card-info -->
          <div class="utility-info">
            <ul class="utility-list">
              <li><i class="far fa-calendar-alt"></i> <%= rand(14..30) %>.11.2018</li>
            </ul>
          </div><!-- /.utility-info -->
          <!-- overlays -->
          <div class="gradient-overlay"></div>
          <div class="color-overlay"></div>
        </div><!-- /.blog-card -->
      <% end %>
    <% end %>

  </div>
</div>

    <div class='cardInfo'>

    </div>

</div>

<!-- to display the map -->
<!-- <%#= render 'shared/map' %> -->
