  <div class="container" style="color: white;">
    <div class="wrapperTitle">
      <h2>New Venue</h2>
    </div>
    <%= simple_form_for @venue do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
