<div class="banner" style="background-image: url(<%= @venue.photo %>)">
<div class="venueTitle">
<span id="venueName" style="text-transform:uppercase; font-size: 22px;"><%= @venue.name %></span><br>
<%= @venue.address %><br>
</div>

<a href="/venues">
<div class="back">
VENUES LIST
</div>
</a>

</div>

<div class="description_calendar">
  <div class="description">
    <h2>description</h2>
    <h6>MEDIUM: <span class="tag"><%= @venue.medium %></span> STYLE: <span class="tag"><%= @venue.style %></span></h6>
    <p><%= @venue.description %></p>
  </div>

  <div class="calendar">
    <%= render 'calendar_form' %>
  </div>
</div>

<div class="information">

<div class="venueMap">
  <%= render 'shared/map' %>
</div>


<div class="venueSchedule">
<%= render 'shared/venue_schedule' %>
</div>

<div class="calendar">
</div>


</div>


<!-- needs major restyling, add class:"datepicker" to input -->
