<div class='wrapperTitle'>
  YOUR VENUES
</div>

<div class='cards'>
  <% @user.owned_venues.each do |venue| %>
    <% @venue = venue %>
      <%= link_to venue_path(venue) do %>
      <div class="blog-card" style="background-image: url(<%= venue.photo %>)">
        <div class="title-content">
          <h3><%= venue.name.capitalize %></h3>
          <hr/>
          <div class="intro"><%= venue.address %></div>
        </div>
        <div class="card-info">
          <%= render 'shared/venue_schedule' %>
        </div>
        <div class="utility-info"></div>
        <!-- overlays -->
        <div class="gradient-overlay"></div>
        <div class="color-overlay"></div>
      </div>
    <% end %>
  <% end %>
    <div class="blog-card btn-create">
    <%= link_to new_venue_path do %>
      <div class="btn-create-content">
        <h2><i class="fas fa-plus">  Add a venue</i></h2>
      </div>
      <div class="utility-info"></div>
      <div class="card-info"></div>
      <!-- overlays -->
      <!-- <div class="gradient-overlay"></div> -->
      <div class="color-overlay"></div>
    <% end %>
    </div>
</div>
